<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary" (click) = "onLoadServers(1)">Load Servers 1</button> 
<hr>
<button class="btn btn-success" (click)="logIn()">Log In</button>
<hr>
<button class="btn btn-warning" (click) = "logOut()">Log Out</button>